<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wlt.com.newjob">

    <uses-sdk
        android:maxSdkVersion="25"
        android:minSdkVersion="15" />
    <!-- 通过GPS芯片接收卫星的定位信息，定位精度达10米以内 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 访问网络连接，可能产生GPRS流量 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许拨打电话号码 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".entity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".entity.MainActivity" />
        <activity android:name=".entity.LoginActivity" />
        <activity android:name=".entity.JobDetailActivity" />
        <activity android:name=".entity.AddResumActivity" />
        <activity android:name=".entity.ResumDetailActivity" />
        <activity android:name=".entity.NewsDetailActivity" />
        <activity android:name=".entity.MyActivity" />
        <activity android:name=".entity.RegisterActivity" />
        <activity android:name=".entity.SuggestionActivity" />
        <activity android:name=".entity.AboutActivity" />
        <activity android:name=".entity.DeviceAcitvity" />
        <activity android:name=".entity.MyInfoActivity" />
        <activity android:name=".entity.ForgetPwdActivity" />
        <activity android:name=".entity.AgreementActivity"/>
        <activity android:name=".entity.FirmLoginActivity"/>
        <activity android:name=".firm_entity.FirmMainActivity"/>
        <activity android:name=".firm_entity.FirmRContentActivity"/>
        <activity android:name=".firm_entity.AddActivity"/>
        <activity android:name=".firm_entity.Firm_RegActivity"/>
        <activity android:name=".firm_entity.FJDetailActivity"/>
        <activity android:name=".entity.FirstJobActivity"/>
        <activity android:name=".entity.SecondJobActivity"/>
        <activity android:name=".entity.ThirdJobActivity"/>
        <activity android:name=".entity.FourthJobActivity"/>
        <activity android:name=".entity.FirmJobDetailActivity"/>

        <!--<activity android:name=".firm_entity.FirmInfoActivity"/>-->

        <activity

            android:name=".entity.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>